h1 {
  color: white;
  margin: 50px 30px;
  text-align: center;
}

h2 {
  color: white;
  margin: 30px 50px;
  letter-spacing: 2px;
  font-weight: 500;
}

h2::first-letter {
  color: #8b0000;
  font-size: 50px;
  text-shadow: white 1px 1px;
}

p {
  color: white;
  margin: 0 50% 0 50px;
}
span {
  color: #8b0000;
}

section {
  display: inline-block;
  justify-content: space-evenly;
}

.interest-img {
  border: 6px solid white;
  border-style: double solid;
  border-radius: 10px;
  position: absolute;
  width: 300px;
  height: 200px;
  margin: -60px 65%;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
}

.interest-img:hover {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }
  p {
    font-size: 15px;
    text-align: center;
    margin: 0 50px 0 50px;
    

  }  
  
  section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin: 20% 0 0 0;
    height: 100%;
}

.interest-img {
  display: flex;
  width: 200px;
  height: 150px;
  margin: 250px 0 0 30%;
  
}
}