h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
  margin: 100px auto;
  padding: 70px;
}

h1::first-letter {
  font-size: 70px;
  color: #8b0000;
  text-shadow: white 2px 2px;
}

.name {
  margin: 0 auto;
}

p {
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 20px;
  justify-content: center;
}

h2 {
  border: white 6px;
  border-style: double solid;
  color: white;
  width: 50px auto;
  margin: 100px auto;
  padding: 50px 10px 50px 30px;
  font-size: 25px;
  margin: 10px 5%;
  text-align: center;
}


h3 {
  position: relative;
  color: white;
  font-size: 30px;

  margin: 5% auto 10% auto;
  padding-bottom: 100px;
}

.profile-img {
  width: 400px;
  height: 400px;
  margin: 70px auto;
  padding: 0 50px 0 0;
}

.intro {
  display: flex;
  justify-content: space-evenly;
}

a {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.about {
  display: flex;
}

.btn {
  background: linear-gradient(45deg, #7d0000, #950000);
  box-shadow: inset -50px -50px 100px #8a0000, inset 50px 50px 100px #8c0000;
  cursor: pointer;
  border-radius: 100px;
  position: absolute;
  margin: 10% 46.5% 14% 46.5%;
  width: 100px;
  height: 50px;
}

@media screen and (max-width: 500px) {
  .profile-img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 0 0px 100px 0;

  }
  .intro {
    display: flex;
    flex-direction: column;
    text-align: center; 
    margin: -20px auto;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}
p {
  font-size: 15px;
}

h3 {
  position: relative;
  color: white;
  font-size: 20px;
  margin: 0 auto;
}

.about{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px auto;
  width: 100%;
}

.btn{
  font-size: 15px;
  margin: 50px 0 0 40%;

}
 
}